<div class="container fade-up">

  <header class="header-flex">
    <div class="title-group">
      <h1>Repertoar</h1>
      <p class="theatre-subtitle font-serif italic" *ngIf="activeTheatre$ | async as t">
        {{ t.naziv }}
      </p>
    </div>
  </header>
 
  <div class="grid-container" *ngIf="predstave$ | async as predstave">
    <div *ngFor="let p of predstave" class="predstava-card">
      
      <div class="visual-box" (click)="prikaziDetalje(p)">
        <div class="text-center">
          <span class="scene-label">{{p.nazivPozorista}}</span>
          <h2 class="font-serif card-main-title">{{ p.naziv }}</h2>
        </div>
      </div>
  
      <div class="card-footer-info">
        <div class="title-price-row">
          <span class="footer-title">{{ p.naziv }}</span>
          <span class="footer-price">{{ p.reditelj }}</span>
        </div>

        <div class="meta-row">

          <div class="meta-item delete-action" (click)="obrisiPredstavu(p.id); $event.stopPropagation()">
            <mat-icon>delete</mat-icon>
            <span>UKLONI</span>
          </div>

          <span class="separator">•</span>

          <div class="meta-item">
            <span>GLUMCI ( {{ p.glumci.length || 0 }} )</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>