/* Glavni kontejner */
.container {
  padding: 40px 4%;
  min-height: 60vh;
  background-size: 30px 30px;
}
/* Header */
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 35px;
  border-bottom: 1px solid var(--ink);
  padding-bottom: 15px;
}

.logo-block h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 42px;
  font-style: italic;
  margin: 0;
}


/* GRID */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 25px;
}

/* CARD */
.predstava-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* IMAGE / VISUAL */
.visual-box {
  background-color: #f1eee6;
  aspect-ratio: 4 / 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.03);
  transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.predstava-card:hover .visual-box {
  background-color: #ebe7dd;
  transform: translateY(-4px);
}

/* LABEL */
.scene-label {
  display: block;
  font-size: 0.6rem;
  font-weight: 800;
  color: var(--gold);
  letter-spacing: 0.22em;
  margin-bottom: 10px;
  font-variant: all-small-caps;
}

/* TITLE */
.card-main-title {
  font-size: 2.2rem;
  font-weight: 400;
  margin: 0;
  letter-spacing: -0.8px;
}

/* FOOTER */
.card-footer-info {
  margin-top: 15px;
}

.title-price-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 5px;
}

.footer-title {
  font-size: 1.05rem;
  font-weight: 700;
  color: var(--ink);
}

.footer-price {
  font-size: 0.8rem;
  color: var(--muted-fg);
  font-weight: 500;
}

/* META */
.meta-row {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--muted-fg);
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.meta-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.meta-item mat-icon {
  font-size: 14px;
  width: 14px;
  height: 14px;
}

/* DELETE BUTTON */
.delete-action {
  display: flex;
  align-items: center;
  gap: 6px;

  cursor: pointer;
  color: var(--muted-fg);

  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  transition: color 0.2s ease;
}

.delete-action mat-icon {
  font-size: 14px;
  width: 14px;
  height: 14px;
}

.delete-action:hover {
  color: #a3865d;
}
/* RESPONSIVE */
@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .card-main-title {
    font-size: 1.8rem;
  }
}