.ansambl-page {
  min-height: 100vh;
  padding: 50px 8%;
}

.page-header {
  margin-bottom: 45px;
}

.page-header h1 {
  font-size: 3rem;
  margin-top: 5px;
  letter-spacing: -1px;
  font-weight: 400;
}

.label-utility {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #a3865d;
  font-size: 0.65rem;
  font-weight: bold;
}

.role-section {
  margin-bottom: 45px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid rgba(163, 134, 93, 0.1);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.title-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.section-header h2 {
  font-size: 1.7rem;
  font-weight: 400;
  margin: 0;
}

.count {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 0.75rem;
  color: #636e72;
}

.add-link {
  background: none;
  border: none;
  color: #636e72;
  letter-spacing: 0.08em;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.add-link:hover {
  color: #a3865d;
}

/* INLINE FORMA */

.inline-form {
  display: flex;
  align-items: center;
  gap: 0;
  margin-bottom: 20px;
  animation: slideDown 0.3s ease;
}

.editorial-input {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(163, 134, 93, 0.3);
  color:black;
  padding: 12px 18px;
  font-family: "Crimson Pro", serif;
  font-style: italic;
  font-size: 1rem;
  width: 100%;
}

.save-btn {
  background: #121212;
  color: #f9f8f4;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 12px 20px;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.08em;
  cursor: pointer;
  margin-left: 20px;
}

.save-btn:hover {
  background: #a3865d;
  color: #121212;
}

.cancel-btn {
  background: none;
  border: none;
  color: #636e72;
  margin-left: 12px;
  cursor: pointer;
  font-size: 0.85rem;
}

/* GRID IMENA */

.names-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 8px;
}

.name-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  transition: all 0.25s ease;
}

.name-item:hover {
  border-color: #a3865d;
}

.name {
  font-size: 1.05rem;
  line-height: 1.4;
  font-weight: 300;
  cursor: pointer;
  transition: color 0.25s;
}

.name:hover {
  color: #a3865d;
}

.item-actions {
  display: flex;
  gap: 8px;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.name-item:hover .item-actions {
  opacity: 1;
}

.edit-btn {
  background: none;
  border: none;
  color: #636e72;
  cursor: pointer;
  font-size: 1rem;
  padding: 2px;
}

.edit-btn:hover {
  color: #a3865d;
}

.delete-btn {
  background: none;
  border: none;
  color: #d63031;
  cursor: pointer;
  font-size: 1rem;
  padding: 2px;
  opacity: 0.6;
}

.delete-btn:hover {
  opacity: 1;
}

.edit-row {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.edit-input-small {
  background: rgba(255, 255, 255, 0.05);
  border: none;
  border-bottom: 1px solid #a3865d;
  color: black;
  text-align: start;
  padding: 4px 8px;
  font-family: "Crimson Pro", serif;
  font-size: 1rem;
  width: 110px;
  margin-left: 10px;
}

.mini-save-btn {
  background: #a3865d78;
  color: #716e51;
  border-radius: 20px;
  border: none; 
  padding: 3px 10px;
  font-size: 0.65rem;
  font-weight: bold;
  cursor: pointer;
}

.mini-cancel-btn {
  background: none;
  border: none;
  color: #636e72;
  font-size: 1.1rem;
  cursor: pointer;
}

.name-item.is-editing {
  border-bottom: 1px solid #a3865d;
  background: rgba(163, 134, 93, 0.05);
  padding: 8px;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}