<mat-toolbar color="primary" class="main-header">
  <div class="logo-container" routerLink="/">
    <mat-icon class="logo-xl">theater_comedy</mat-icon>
    <span class="logo-text">POZORIŠTE<span class="logo-dot">.</span></span>
  </div>

  <span class="spacer"></span>

  <!-- Navigacija -->
  <nav class="nav-links">
    <button mat-button routerLink="/repertoar" routerLinkActive="active-link">
       Repertoar
    </button>

    <button mat-button routerLink="/prodane" routerLinkActive="active-link">
       Prodaja
    </button>
    
    <button mat-button routerLink="/zaposleni" routerLinkActive="active-link">
       Zaposleni
    </button>
    
    <button mat-button routerLink="/nova-predstava" routerLinkActive="active-link" class="admin-btn">
       Nova Predstava
    </button>
  </nav>
</mat-toolbar>