.spacer {
  flex: 1 1 auto;
}
.main-container {
  padding: 0;
  max-width: none;
  margin: 0;
  margin-left: 264px;
}

@media print{
  .no-print {
    display: none !important;
  }
}

@media (max-width: 900px) {
  .main-container {
    margin-left: 0;
  }
}
