.container { padding: 30px; }
.table-wrapper { border-radius: 10px; overflow: hidden; margin-top: 20px; }
table { width: 100%; }

/* DIZAJN KARTE */
.ticket-box {
  width: 400px;
  border: 2px solid #000;
  padding: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.seat-badge {
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #000;
  margin: 15px 0;
  padding: 10px;
}

@media screen {
  .print-only { display: none; }
}

@media print {

  .no-print {
    display: none !important;
  }

  app-root > *:not(.print-only) {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }

  .ticket-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 20px;
    background: white;
    border: 2px solid black;
    z-index: 9999;
  }
}

@page {
  margin: 0;
}